@import '~semantic-ui-css/semantic.css';

.bold {
  font-weight: bold;
}

p {
  margin-bottom: 0;
}

#green {
  color: #16c784;
}

#red {
  color: #ea3943;
}

#grey {
  color: #808a9d;
}

.enlarge {
  height: 75px;
}

#divide {
  margin-bottom: 20px;
}

.m-right {
  margin-right: 20px;
}

.ta-right {
  text-align: right;
}
#ta-right {
  text-align: right;
}
